.shoe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
    
}

.shoe img {
    width: 90%;
    height: 250px;
}

shop-content{
    padding: 10px;
    max-width: 100%;
}

