.nav {
    height: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    text-align: center;
    
  }

  .container {
    margin-top: auto;
    border-radius: 17px;
    font-size: 18px;
    font-family: sans-serif;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) 
}